

@mixin gridify($col, $width, $gutter: 2) {
    @media only screen and (min-width: #{$width}#{"px"}){
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{(100 / $col) - $gutter}#{"%"};
            }
        }
    }
}

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);

/**
 * GENERAL
 */

body {
    transition: opacity .25s ease;
}

.page {
    display: none;
}
.page.active {
    display: block;
    animation: fadeDown .25s ease both;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-2em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

//colors
$lightgreen: #F1FFF8;
$black_20: rgba(0, 0, 0, 0.2);
$color_mountain_mist_approx: #999999;
$color_celeste_approx: #cccccc;
$color_tapa_approx: #777777;
$color_tuatara_approx: #383636;
$color_chetwode_blue_approx: #7a90e7;
$color_gallery_approx: #ededed;
$black_10: rgba(0, 0, 0, 0.1);
$black_15: rgba(0, 0, 0, 0.15);
$black_30: rgba(0, 0, 0, 0.3);
$white_80: rgba(255, 255, 255, 0.8);
$color_azure_approx: #336699;

//fonts
$font_0: inherit;

#todoapp {
    background: $lightgreen;
    padding: 20px;
    margin-bottom: 40px;
    -webkit-box-shadow: $black_20 0 2px 6px 0;
    -moz-box-shadow: $black_20 0 2px 6px 0;
    -ms-box-shadow: $black_20 0 2px 6px 0;
    -o-box-shadow: $black_20 0 2px 6px 0;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $black_20 0 2px 6px 0;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0 0 5px 5px;
    h1 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        padding: 0 0 10px 0;
    }

    input[type="text"] {
        width: 100%;
        font-size: 24px;
        font-family: $font_0;
        line-height: 1.4em;
        border: 0;
        outline: none;
        padding: 6px;
        border: 1px solid $color_mountain_mist_approx;
        -webkit-box-shadow: $black_20 0 1px 2px 0 inset;
        -moz-box-shadow: $black_20 0 1px 2px 0 inset;
        -ms-box-shadow: $black_20 0 1px 2px 0 inset;
        -o-box-shadow: $black_20 0 1px 2px 0 inset;
        //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $black_20 0 1px 2px 0 inset;
    }
    footer {
        display: none;
        margin: 0 -20px -20px;
        overflow: hidden;
        color: $color_tuatara_approx;
        background: #7A90E7;
        border-top: 1px solid $color_gallery_approx;
        padding: 0 20px;
        line-height: 37px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: 0 0 5px 5px;
    }
    input::-webkit-input-placeholder {
        font-style: italic;
    }
}
#main {
    display: none;
}
#todo-list {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    li {
        padding: 18px 20px 18px 0;
        position: relative;
        font-size: 24px;
        border-bottom: 1px solid $color_celeste_approx;
        &:last-child {
            border-bottom: none;
        }
        &.editing {
            border-bottom: none;
            margin-top: -1px;
            padding: 0;
            &:last-child {
                margin-bottom: -1px;
            }
            .edit {
                display: block;
                width: 444px;
                padding: 13px 15px 14px 20px;
                margin: 0;
            }
            .view {
                display: none;
            }
        }
        .edit {
            display: none;
        }
        &.done label {
            color: $color_tapa_approx;
            text-decoration: line-through;
        }
        &:hover .destroy {
            display: block;
        }
        .view label {
            //Instead of the line below you could use @includeword-break($value)
            word-break: break-word;
        }
    }
    .destroy {
        position: absolute;
        right: 5px;
        top: 20px;
        display: none;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background: url(destroy.png) no-repeat;
        &:hover {
            background-position: 0 -20px;
        }
    }
}
#clear-completed {
    float: right;
    line-height: 20px;
    text-decoration: none;
    background: $black_10;
    color: $color_tuatara_approx;
    font-size: 11px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 10px 1px;
    cursor: pointer;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 12px;
    -webkit-box-shadow: $black_20 0 -1px 0 0;
    -moz-box-shadow: $black_20 0 -1px 0 0;
    -ms-box-shadow: $black_20 0 -1px 0 0;
    -o-box-shadow: $black_20 0 -1px 0 0;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $black_20 0 -1px 0 0;
    &:hover {
        background: $black_15;
        -webkit-box-shadow: $black_30 0 -1px 0 0;
        -moz-box-shadow: $black_30 0 -1px 0 0;
        -ms-box-shadow: $black_30 0 -1px 0 0;
        -o-box-shadow: $black_30 0 -1px 0 0;
        //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $black_30 0 -1px 0 0;
    }
    &:active {
        position: relative;
        top: 1px;
    }
}
#instructions {
    margin: 10px auto;
    color: $color_tapa_approx;
    //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: $white_80 0 1px 0;
    text-align: center;
    a {
        color: $color_azure_approx;
    }
}
#todo-count span {
    font-weight: bold;
}

h2{
    text-align: center;
}

