<!DOCTYPE HTML>
<html>

<head>
    <title>Wedinizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body style="opacity: 0;">
    <div class="page" id="home">
        <!--start-header-->
        <div class="header_bg">
            <div class="wrap">
                <div class="header">
                    <!--start-logo-->
                    <div class="logo">
                        <a href="index.html"><!--<img src="./Main/images/logo.png" alt="" />--><h2>Wedinizer</h2></a>
                    </div>
                    <!--end-logo-->
                    <!--start-nav-->
                    <div class="nav">
                        <ul>
                            <li><a href="#home" class="scroll">What is this?</a>
                            </li>
                            <li class="active"><a href="#portfolio" class="scroll">Checklist/Chat</a>
                            </li>
                            <li><a href="#about" class="scroll">Ideas</a>
                            </li>
                            <li><a href="#contact" class="scroll">Login/Register</a>
                            </li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                    <!--end-nav-->
                    <div class="clear"> </div>
                </div>
            </div>
        </div>
        <!--end-header-->
        <!-- start slider -->
        <div class="slider_bg">
            <div class="wrap">
                <!---start-da-slider-->
                <div class="da-slide">
                    <h2><span>We Help You Organize</span></h2>
                    <p>Start planning your big day today and keep track of all of your needs in one simple application,</p>

                    <a href="#portfolio" class="scroll"><span class="da-img"> </span> </a>
                </div>
                <!---//End-da-slider-->
            </div>
        </div>
        <!--end-slider-->
        <!--start portfolio-->
        <div class="wrap" id="portfolio">
            <div class="main">
                <!-- start gallery  -->
                <div class="gallery1">
                    <!--start-mfp -->

                </div>
                <!--end-mfp -->
                <!---start-content-->
                <div class="gallery">
                    <div class="clear"> </div>
                    <div class="container">
                        <h2>Checklist/Chat</h2>
                        <p>Always keep track of what you need to do by checklist or chatting with collaborating bridal party.</p>
                        <img id="chat-icon" src="https://cdn0.iconfinder.com/data/icons/social-networks-and-media-flat-icons/136/Social_Media_Socialmedia_network_share_socialnetwork_network-14-512.png" />
                        <img id="todo-icon" src="https://cdn0.iconfinder.com/data/icons/social-networks-and-media-flat-icons/136/Social_Media_Socialmedia_network_share_socialnetwork_network-14-512.png" />
                        <img id="post-icon" src="https://cdn0.iconfinder.com/data/icons/social-networks-and-media-flat-icons/136/Social_Media_Socialmedia_network_share_socialnetwork_network-14-512.png" />
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>

        <div class="about" id="about">
            <div class="wrap">
                <h2>Ideas</h2>
                <p>Search for wedding ideas and share within the application with your collaborating party.</p>
                <img src="http://www.bride.ca/wedding-ideas/images/Blog/Flowers/WeddingSeason/The-Perfect-Place-Florist.jpg" />
            </div>
        </div>
        <!--end-Ideas-->
        <div class="contact" id="contact">
            <div class="wrap">
                <h2>Login/Register</h2>
                <h4>Are you ready to start organizing your big day?</h4>
                <br>
                <div class="section group">
                    <br>
                    <form id="loginForm" role="form">

                        <div class="form-group">
                            <label for="txtEmail">Email address</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="txtPass">Password</label>
                            <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" />
                        </div>

                        <button type="submit" class="btn btn-default btn-block">Login</button>
                    </form>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="wrap">
                    <div class="copy">
                        <p class="copy">Wedinizer 2014
                            <a href="http://w3layouts.com" target="_blank"></a>
                        </p>
                    </div>
                    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
                </div>
            </div>
        </div>
        <!--End Login-->
    </div>

    <div class="page" id="profile">
		<header class="navbar navbar-static-top navbar-inverse" id="top" role="banner">
		    <div class="container">
		        <div class="navbar-header">
		            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"> <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>

		            </button> <a href="#" class="navbar-brand">Wedinizer</a>

		        </div>
		        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		            <ul class="nav navbar-nav">
		                <li> <a href="#/">Login</a>

		                </li>
		                <li> <a href="#/logout">Logout</a>

		                </li>
		                <li> <a href="#/register">Register</a>

		                </li>
		                <li> <a href="#/profile">Profile</a>

		                </li>

		            </ul>
		        </nav>
		    </div>
		</header>

		<!-- / LOGIN -->
        <h1>Profile</h1>
        <form id="holiday" role="form">

            <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" class="form-control" id="txtName" placeholder="Name" name="name" />
            </div>
            <div class="form-group">
                <label for="ddlDino">Favorite Holiday</label>
                <select id="ddlDino" name="Favorite Chore" class="form-control">
                    <option>None</option>
                    <option>Christmas</option>
                    <option>Halloween</option>
                    <option>Thanksgiving</option>
                    <option>Easter</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>

		<div id="todoapp">
		    <header>
		        <h1>What To Do</h1>
		        <input id="new-todo" type="text" placeholder="What needs to be done?">
		    </header>

		    <section id="main">
		        <input id="toggle-all" type="checkbox">
		        <label for="toggle-all">Mark all as complete</label>
		        <ul id="todo-list"></ul>
		    </section>

		    <footer>
		        <a id="clear-completed">Clear completed</a>
		        <div id="todo-count"></div>
		    </footer>

		</div>

		<div id="instructions">
		    Double-click to edit a todo.
		   
		</div>

		<!--Chat Area-->
		<div class="chatroom" id="chat-area" style="border-top: 1px solid black">
	
             <section class="container chat js-chat">
        <header class="row l-header">
            <div class="col-xs-12">
                <h1>Chat Room</h1>
            </div>
        </header>

        <form action="#!" class="form-horizontal js-chat-form">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="fb-name" class="col-xs-2 control-label">Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="name" id="fb-name" class="form-control js-chat-name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fb-message" class="col-xs-2 control-label">Message</label>
                        <div class="col-xs-10">
                            <textarea name="fb-message" id="fb-message" rows="5" class="form-control js-chat-message" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-4 col-xs-offset-8">
                            <button class="btn btn-primary btn-block">Send</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4 col-xs-offset-8">
                            <button class="btn btn-danger btn-block js-chat-clear">Clear chat</button>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="chat-port js-chat-port"></div>
                    <script id="chat-message" type="text/x-template">
                        <blockquote data-id="{{ id }}">
                            {{ message }}
                            <footer>{{ author }}</footer>
                        </blockquote>
                    </script>
                </div>
            </div>
        </form>
    </section>

		<!--Search Area-->

		<div class="ideas" id="idea-search" style="border-top: 1px solid black">
		    <div class="wraps">
		        <h2 style="text-align:center">Search For Ideas</h2>
		        <hr>
		        <form method="get" action="http://www.etsy.com/search">
		            <input type="text" name="q" />
		            <input type="submit" value="search Etsy" />
		        </form>
		        <br>
		        <form method="get" action="http://www.pinterest.com/search">
		            <input type="text" name="q" />
		            <input type="submit" value="search Pintrest" />
		        </form>
		        <br>
		        <form method="get" action="http://www.herecomestheguide.com/wedding-venues/search">
		            <input type="text" name="q" />
		            <input type="submit" value="search Venues" />
		        </form>
		    </div>
		</div>
		<hr>

		<!--Upload Picture Area-->
		<!-- <div class="pictures" id="picture-save" style = "border-top: 1px solid black"> -->
		<div id="spin"></div>
<h2>Picture Drop Zone</h2>
<label id="dropzone" class="dropzone">Drag and Drop Images Here</label>
<input type="file" id="files" name="files[]" multiple />
<div id="images-wrapper"></div>

    </div>

    <script type="text/template" id="item-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
            <label>
                <%- title %>
            </label>
            <a class="destroy"></a>
        </div>
        <input class="edit" type="text" value="<%- title %>" />
    </script>

    <script type="text/template" id="stats-template">
        <% if (done) { %>
            <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
        <% } %>
        <div class="todo-count"><b><%= remaining %></b>
        <%= remaining==1 ? 'item' : 'items' %> left</div>
    </script>

    <script type="text/javascript" src="./bower_components/Loader/loader.js" id="loaderjs" data-app="./js/app.js"></script>
</body>

</html>
