<!DOCTYPE HTML>
<html>

<head>
    <title>Wedinizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body style="opacity: 0;">
    <div class="page" id="home">
        <!--start-header-->
        <div class="header_bg">
            <div class="wrap">
                <div class="header">
                    <!--start-logo-->
                    <div class="logo">
                        <a href="index.html"><img src="./Logo.png" alt="" style="width:150px;" /><!-- <h2></h2> --></a>
                    </div>
                    <!--end-logo-->
                    <!--start-nav-->
                    <div class="nav">
                        <ul>
                            <li><a href="#home" class="scroll">What is this?</a>
                            </li>
                            <li class="active"><a href="#portfolio" class="scroll">Checklist/Chat</a>
                            </li>
                            <li><a href="#about" class="scroll">Ideas</a>
                            </li>
                            <li><a href="#contact" class="scroll">Login/Register</a>
                            </li>
                            <div class="clear"> </div>
                        </ul>
                    </div>
                    <!--end-nav-->
                    <div class="clear"> </div>
                </div>
            </div>
        </div>
        <!--end-header-->
        <!-- start slider -->
        <div class="slider_bg">
            <div class="wrap">
                <!---start-da-slider-->
                <div class="da-slide">
                    <h2><span>We Help You Organize</span></h2>
                    <p>Start planning your big day today and keep track of all of your needs in one simple application,</p>

                    <a href="#portfolio" class="scroll"><span class="da-img"> </span> </a>
                </div>
                <!---//End-da-slider-->
            </div>
        </div>
        <!--end-slider-->
        <!--start portfolio-->
        <div class="wrap" id="portfolio">
            <div class="main">
                <!-- start gallery  -->
                <div class="gallery1">
                    <!--start-mfp -->

                </div>
                <!--end-mfp -->
                <!---start-content-->
                <div class="gallery">
                    <div class="clear"> </div>
                    <div class="container">
                        <h2>Checklist/Chat/Upload Pictures</h2>
                        <p><h4>One of the biggest concerns about a wedding is that there is so much to do and at times it is hard to keep everyone involved up to date with a busy schedule. This is where <b style="color:blue;">Wedinizer</b> can help keep you on track. You can always keep track of what you need to do by utilizing our online checklist or by chatting in realtime with your collaborating bridal party. </h4></p>
                        <img id="chat-icon" src="http://ecx.images-amazon.com/images/I/31GfSzHejgL.png" />
                        <img id="todo-icon" src="http://fe867b.medialib.glogster.com/deniz48/media/76/7612663c351aa542556657a5974aac974c47c79a/like-facebook-icon-vector-6516.png" />
                        <img id="post-icon" src="http://icons.iconarchive.com/icons/mcdo-design/smooth-leopard/512/Upload-Folder-Blue-icon.png" />
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>

        <div class="about" id="about">

            <div class="wrap">
                <h2>Ideas</h2>
                <p><h4 style="color:white; text-align:justify;">Needing inspiration, but overwhelmed with the abundance of sites and resources? We have you covered! With your profile we have search ready bars that will take you directly to the most popular sites for your wedding needs right from within our application. All you have to do is type in what you would like to search and that is it!</h4></p>
               <div class="diy-slideshow">
    <figure class="show">
        <img src="http://www.themilkcrate.com/wp-content/uploads/2014/02/Davidinga-519.jpg" width="100%" />
    </figure>
  <figure>
    <img src="http://beautifulweddingmemories.com/wp-content/uploads/2011/01/background2.jpg" width="100%" />
    </figure>
    <figure>
        <img src="http://1.bp.blogspot.com/-on6VNRdDviw/Ubo32byiObI/AAAAAAAAOT4/K7T3lhCB9B8/s1600/PicMonkey+Collage.jpg" width="100%" />
    </figure>
  <figure>
        <img src="http://1.bp.blogspot.com/_a1_y2iHrd4E/S7V0SNbVpdI/AAAAAAAEJng/MLktoYUn2ZY/s1600/03.jpg" width="100%" /> 
    </figure>
  <figure>
        <img src="http://2.bp.blogspot.com/-r5Ujleb5VyU/UV9WLuV2rBI/AAAAAAAAER4/JqDAjiKMkes/s1600/silver+wedding+cus.jpg" width="100%" />
    </figure>
  <figure>
        <img src="http://www.orlandobakery.com/wp-content/uploads/2012/09/SharondaWeddingCake.jpg" width="100%" />
    </figure>
    <figure>
        <img src="http://www.aworc.com/wp-content/uploads/2013/12/Wedding-Rings-Not-Diamond.jpg" width="100%" />
    </figure>
     <figure>
        <img src="http://m5.paperblog.com/i/85/858096/pin-love-wedding-bouquets-L-YCc9_D.jpeg" width="100%" />
    </figure>
  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>  

            </div> 
        </div>
        <!--end-Ideas-->
        <div class="contact" id="contact">
            <div class="wrap">
                <h2>Login/Register</h2>
                <h4>Are you ready to start organizing your big day? Sign Up/ Register below to get started!</h4>
                <br>
                <div class="section group">
                    <br>
                    <form id="loginForm" role="form">

                        <div class="form-group">
                            <label for="txtEmail">Email address</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="txtPass">Password</label>
                            <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" />
                        </div>

                        <button type="submit" class="btn btn-default btn-block">Login</button>
                    </form>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="wrap">
                    <div class="copy">
                        <p class="copy"><h4 style="color:white;">Created by Marco Bernal</h4> 
                            <a href="http://w3layouts.com" target="_blank"></a>
                        </p>
                       <center> <a id="Github"href="http://www.github.com/mb289"><img src="http://people.csail.mit.edu/spillai/icons/github.png" style="width:70px;"></a> <a href="mailto:bernalmjr@gmail.com?Subject=Hello" target="_top"><img src="http://demo.isreal.com.tw:88/icon/metrostation_by_yankoa-d312tty/PNG/Network/Black/MB_0003_gmail2.png" style="width:55px;"></a> <a href="http://marcodemus.tumblr.com/"><img src="./tum.png" style="width:60px;"></a><a href="http://www.designsbymarco.com"><img src="./mysite.svg" style="width:60px;"></a><h4 style="color:white;">Get in touch!</h4><center>
                    </div>
                    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
                </div>
            </div>
        </div>
        <!--End Login-->
    </div>

    <div class="page" id="profile">
		<header class="navbar navbar-static-top navbar-inverse" id="top" role="banner" style="background-color: #1A4783;">
		    <div class="container">
		        <div class="navbar-header">
		            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"> <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>

		            </button> <a href="#" class="navbar-brand">Wedinizer</a>

		        </div>
		        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		            <ul class="nav navbar-nav">
		                <li> <a href="#/">Login</a>

		                </li>
		                <li> <a href="#/logout">Logout</a>

		                </li>
		                <li> <a href="#/register">Register</a>

		                </li>
		                <li> <a href="#/profile">Profile</a>

		                </li>

		            </ul>
		        </nav>
		    </div>
		</header>

		<!-- / LOGIN -->
        <h1 style="text-align:center;">Profile</h1>
        <form id="holiday" role="form" >

            <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" class="form-control" id="txtName" placeholder="Name" name="name" />
            </div>
            <div class="form-group">
                <label for="ddlDino">Favorite Holiday</label>
                <select id="ddlDino" name="Favorite Chore" class="form-control">
                    <option>None</option>
                    <option>Christmas</option>
                    <option>Halloween</option>
                    <option>Thanksgiving</option>
                    <option>Easter</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>

		<div id="todoapp">
		    <header>
		        <h1>What To Do</h1>
		        <input id="new-todo" type="text" placeholder="What needs to be done?">
		    </header>

		    <section id="main">
		        <input id="toggle-all" type="checkbox">
		        <label for="toggle-all">Mark all as complete</label>
		        <ul id="todo-list"></ul>
		    </section>

		    <footer>
		        <a id="clear-completed">Clear completed</a>
		        <div id="todo-count"></div>
		    </footer>

		</div>

		<div id="instructions">
		    Double-click to edit a todo.
		   
		</div>

		<!--Chat Area-->
		<div class="chatroom" id="chat-area" style="border-top: 1px solid black">
	
             <section class="container chat js-chat">
        <header class="row l-header">
            <div class="col-xs-12">
                <h1 style="text-align:center;">Chat Room</h1>
            </div>
        </header>

        <form action="#!" class="form-horizontal js-chat-form">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="fb-name" class="col-xs-2 control-label"></label>
                        <div class="col-xs-8">
                            <input type="text" name="name" id="fb-name" placeholder="Name"class="form-control js-chat-name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fb-message" class="col-xs-2 control-label"></label>
                        <div class="col-xs-10">
                            <textarea name="fb-message" id="fb-message" placeholder="Message"rows="5" class="form-control js-chat-message" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-4 col-xs-offset-8">
                            <button class="btn btn-primary btn-block">✓</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4 col-xs-offset-8">
                            <button class="btn btn-danger btn-block js-chat-clear">x</button>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="chat-port js-chat-port"></div>
                    <script id="chat-message" type="text/x-template">
                        <blockquote data-id="{{ id }}">
                            {{ message }}
                            <footer>{{ author }}</footer>
                        </blockquote>
                    </script>
                </div>
            </div>
        </form>
    </section>

		<!--Search Area-->

		<div class="ideas" id="idea-search" style="border-top: 1px solid black; background-color:rgb(133, 184, 174);">
		    <div class="wraps">
		        <h2 style="text-align:center">Search For Ideas</h2>
		        
		        <form method="get" action="http://www.etsy.com/search">
		            <input type="text" name="q" style="margin-left:20px;" />
		            <input type="submit" value="search Etsy" />
		        </form>
		        <br>
		        <form method="get" action="http://www.pinterest.com/search">
		            <input type="text" name="q" style="margin-left:20px;"/>
		            <input type="submit" value="search Pintrest" />
		        </form>
		        <br>
		        <form method="get" action="http://www.herecomestheguide.com/wedding-venues/search">
		            <input type="text" name="q" style="margin-left:20px;"/>
		            <input type="submit" value="search Venues" />
		        </form>
                <br>
		    </div>
		</div>
		<hr style="border-top: 1px solid #020000">

		<!--Upload Picture Area-->
		<!-- <div class="pictures" id="picture-save" style = "border-top: 1px solid black"> -->
		<div id="spin"></div>
<h2>Picture Drop Zone</h2>
<label id="dropzone" class="dropzone">Drag and Drop Images Here</label>
<input type="file" id="files" name="files[]" multiple />
<div id="images-wrapper"></div>

    </div>

    <script type="text/template" id="item-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
            <label>
                <%- title %>
            </label>
            <a class="destroy"></a>
        </div>
        <input class="edit" type="text" value="<%- title %>" />
    </script>

    <script type="text/template" id="stats-template">
        <% if (done) { %>
            <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
        <% } %>
        <div class="todo-count"><b><%= remaining %></b>
        <%= remaining==1 ? 'item' : 'items' %> left</div>
    </script>

    <script type="text/javascript" src="./bower_components/Loader/loader.js" id="loaderjs" data-app="./js/app.js"></script>
</body>

</html>
